{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8">
					 {{ range first 10 (where .Site.Pages "Type" "interview") }}
							 <p>
					         <h3><a href="{{ .RelPermalink }}">{{ .Title }}</h3>
					         {{ .Summary }}
							 {{ if .Truncated }}
							 Read More…</a>
							 {{ end }}
					   </p></br>
					 {{ end }}
				<div class="markdown">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}